@use "style/_var.scss";
@mixin button {
  .button {
    background-color: #fff;
    border: 1px solid var.$primaryColor;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: var.$primaryColor;
    transition: background-color 0.3s;
    &:hover {
      background-color: var.$primaryColor;
      color: #fff;
    }
  }
}
