@use "style/_var.scss";
@use "_button.scss";

@mixin text {
  .text {
    width: 500px;
    margin-right: 100px;
    h2 {
      margin-bottom: 10px;
      font-size: 46px;
      font-weight: 900;
      color: var.$primaryColor;
    }
    p {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 20px;
    }
    @include button.button;
  }
}
