@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  font-family: "Inter", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  & > div:nth-child(1) {
    margin-bottom: 50px;
  }
}
