@use "style/_var.scss";

@mixin index {
  .menu {
    ul {
      display: flex;

      li {
        margin: 10px;
        list-style: none;

        a {
          text-decoration: none;
          color: var.$primaryColor;
        }
      }
    }
  }
}
