@use "style/_var.scss";
@use "_logo.scss";
@use "_menu.scss";

.header {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var.$primaryColor;
  display: flex;
  justify-content: space-between;
  @include logo.index;
  @include menu.index;
}
